.container section.filters {
	/*display: flex;*/
	/*flex-direction: row;*/
	background-color: #fff;
	height: 70px;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	border-radius: 4px;
}

section.filters button {
	float: right;
	font-size: 18px;
	background-color: #ff5a5f;
	color: #fff;
	height: 48px;
	width: 20%;
	border-style: none;
	border-radius: 4px;
	box-sizing: border-box;
	margin-right: 30px;
	margin-top: 11px;
	margin-bottom: 11px;
}

button:hover {
	opacity: 0.9;
}

.locations, 
.amenities {
	float: left;
	height: 100%;
	width: 25%;
	box-sizing: border-box;
	/*padding-top: 18px;*/
	/*padding-bottom: 18px;*/
	/*padding-left: 30px;*/
	/*margin-left: 30px;*/
}


section div.locations {
	/*margin-left: 30px;*/
	border-right: 1px solid #ddd;
}

section div.amenities {
	/*margin-left: 30px;*/
	/*margin-right: auto;*/
	/*border-right: none;*/
}


.locations h3, .amenities h3 {
	font-weight: 600;
	margin: 0px;
	padding-left: 30px;
	padding-top: 18px;
	margin-left: 30px;
}

.locations h4, .amenities h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
	padding-left: 30px;
	padding-bottom: 18px;
	margin-left: 30px;
}


div ul.popover {
	/*display: none;*/
	background-color: #fafafa;
	width: 100%;
	list-style-type: none;
	box-sizing: border-box;
	/*padding-left: 15px;*/
	margin: 0;
	padding-left: 0px;
	/*margin-top: 25px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
	border-radius: 4px;
}

div ul.popover li {
	list-style-type: none;
	padding: 0px;
}

div ul.popover h2 {
	font-size: 16px;
	margin: 0px;
	/*margin-bottom: 0px;*/
	padding-left: 30px;
	padding-top: 30px;

}

.amenities .popover {
	padding-left: 60px;
}

.locations .popover {
	padding-top: 0px;
	/*padding-bottom: 0px;*/

}

.locations .popover ul {
	padding-left: 60px;
}
.locations:hover .popover,
.amenities:hover .popover {
	display: block;
}
