section.places {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.places h1 {
	grid-column: 1 / 4;
	grid-row: 1;
	font-size: 30px;
}

.places .articles {
	grid-column: 1 / 4;
	grid-row: 2;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	/*box-sizing: border-box;*/
	border-style: solid;
	border-width: 1px;
	border-color: #FF5A5F;
	border-radius: 4px;
}

.articles h2 {
	font-size: 30px;
	text-align: center;
}
